* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #1f201f;
  color: white;
}
header {
  height: 100vh;
  background-image: url("./pictures/header-back.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

header nav ul {
  z-index: 1000;
  background-color: #1f201f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 96%;
  height: 10vh;
  position: fixed;
}

header nav ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  border: 1px solid #194950;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  width: 7vw;
  height: 6vh;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

header nav ul a:hover {
  background-color: #194950;
}

/* Header content start*/
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  /* background-color: gray; */
}

.header-content h1 {
  font-size: 80px;
}

.header-content .experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 25px;
}

.header-content .social-network {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  /* background-color: grey; */
}
.header-content .social-network a {
  border: 2px solid #194950;
  border-radius: 20px;
  padding: 8px;
}

.header-content .social-network a {
  border: 1px solid #194950;
  border-radius: 20px;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-content .social-network a:hover {
  background-color: #194950;
}

/* Header contetn end */

/* main start*/

.about-container {
  display: flex;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 70%;
  height: 60vh;
  text-align: justify;
}

.about-content p {
  font-size: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  text-align: justify;
  height: 170vh;
}

/* Grid start */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  width: 90%;
}

/* Big card start */

.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: span 3;
  background-color: #194950;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  /* height: 70vh; */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.big-card:hover {
  transform: translateY(-5px);
}
.grid-container .big-card img {
  object-fit: contain;
  width: 100%;
}

.grid-container .small-card img {
  width: 100%;
}

.big-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 96%;
  padding: 10px 0px;
}

/* Big card end */

/* Small card stat */
.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: span 2;
  gap: 10px;
  background-color: #194950;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.small-card:hover {
  transform: translateY(-5px);
}

.small-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  height: 100%;
  padding: 10px 0px;
}
/* Small card end */
/* Grid end */

/* main end*/
